.container {
  width: 30rem;
  border: 1px solid #5b5b5b;
  border-radius: 2rem;
  background-color: #fff5f5;
  box-shadow: 0px 4px 28px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 14rem;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container img {
  width: 20rem;
  height: 10rem;
  margin: 2rem;
}

.container h2 {
  color: #5b5b5b;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 1rem;
}

@media only screen and (max-width: 1300px) {
  .container {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}
